<table class="table caption-top">
  <thead>
    <tr>
      <th>Tax rate</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col"><%= tax_category.tax_rate %></td>
      <th scope="col">
        <%= link_to "Back to items", tax_categories_path, :class => 'btn btn-secondary' %> |
        <%= link_to "Edit this item", edit_tax_category_path(@tax_category), :class => 'btn btn-info' %> |
        <%= link_to "Destroy discount", [@tax_category], data: {
                                      turbo_method: :delete,
                                      turbo_confirm: "Are you sure?"
                                      }, :class => 'btn btn-danger' %>
      </th>
    </tr>
  </tbody>
</table>
