<%= link_to "New", new_tax_category_path, :class => 'btn btn-danger' %>
<div class="container">
  <table class="table">
    <thead>
      <tr class='border'>
        <th scope="col" class='border' >Tax Percent</th>
        <th scope="col" class='border' >Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tax_categories.each do |tax_category| %>
        <tr >
          <th scope="col" class='border' ><%= tax_category.tax_rate%></th>
          <td scope="col" class='border' ><%= link_to "Show", tax_category, :class => 'btn btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
